<tbody >
<% @trips.each do |trip| %>
  <tr class="border-b border-gray-200">
    <td class="px-5 py-5 bg-white text-sm">
      <p class="text-gray-900 whitespace-no-wrap"> <%= trip.name %> </p>
    </td>
    <td class="px-5 py-5 bg-white text-sm">
      <p class="text-gray-900 whitespace-no-wrap"> <%= number_with_delimiter(number_with_precision(trip.distance, precision: 2,  strip_insignificant_zeros: true)) %> miles </p>
    </td>
    <td class="px-5 py-5 bg-white text-sm">
      <p class="text-gray-900 whitespace-no-wrap"> <%= seconds_to_str(trip.travel_time) %></p>
    </td>
    <td class="px-5 py-5 bg-white text-sm">
      <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
        <span aria-hidden class="absolute inset-0 bg-green-200 opacity-50 rounded-full"> </span>
        <span class="relative"> <%= address_format(trip.locations.first) %> </span>
      </span>
    </td>
    <td class="py-5 bg-white text-sm">
      <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
        <span aria-hidden class="absolute inset-0 bg-green-200 opacity-50 rounded-full"> </span>
        <span class="relative"> <%= address_format(trip.locations.last) %> </span>
      </span>
    </td>
  </tr>
<% end %>
</tbody>